RewriteEngine On
RewriteBase /

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^category/([a-zA-Z0-9_-]+)/?$ category.php?name=$1&subcategoryID=$2 [NC,L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^category/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ category.php?name=category&category_id=$2 [NC,L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^subcategory/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ category.php?name=subcategory&sub_category_id=$2 [NC,L]

 # rewrite rule for product information
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^detail/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ detail.php?name=$1&product_id=$2 [NC,L]

# Add your existing rules below this line
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]

ErrorDocument 404 http://localhost/404


